
{% extends 'partials/base.html'%}
{% load static %}
{% block content %}

<body>
    {% if messages %}
    {% for message in messages  %}
        <div class="message">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

  
   <p>{{ categories.count }}</p>

   {% for c in categories %}
        <img src="{{ c.image.url }}" alt="" height="50" width="50">
        <p>{{ c.title }}</p>
        <p>{{ c.category.all.count }} Product{{ c.category.all.count|pluralize }}</p>
   {% endfor %}
</div>
</body>


{% endblock content %}