
{% extends 'partials/base.html'%}
{% load static %}
{% block content %}

<body>
    {% if messages %}
    {% for message in messages  %}
        <div class="message">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

    <a href="{% url 'userauths:sign-out' %}">Logout</a>
    <h1 class="red">Test website</h1>

    <div class="test" style="display: flex;align-items: center;flex-direction: column;">
    {% for p in products %}
    <img src="{{ p.image.url }}" alt="" height="50" width="50">
    <p>{{ p.title }} </p>
    {% endfor %}
</div>
</body>


{% endblock content %}