
{% extends 'partials/base.html'%}
{% load static %}
{% block content %}

<body>
    {% if messages %}
    {% for message in messages  %}
        <div class="message">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

  
<div class="test" style="display: flex;align-items: center;flex-direction: column;">
    {% for p in products %}
        <img src="{{ p.image.url }}" alt="" height="50" width="50">
        <p>{{ p.title }} {{ p.price }}</p>
        <p></p>
    {% endfor %}
</div>
</body>


{% endblock content %}