{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<body>
    <form action="" method="POST">
        {%  if form.errors %}
        <p style="color: red;">Error {{ form.errors }}</p>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="email" required>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <button type="submit">Register</button>
    </form>

</body>
{% endblock content %}
